body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.4em;
}
.main {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  font-size: 4vw;
}
